* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.primary-text-color {
  color: #fd6e0a;
}
.btn {
  border: none;
  padding: 18px 35px;
  background: #fd6e0a;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  height: 64px;
}
/* header style */
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-size: 50%, contain;
}
nav {
  padding-top: 50px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul li {
  margin-left: 50px;
  font-size: 20px;
}
/* banner styles */

.banner-intro {
  width: 50%;
}
.banner-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-subtitle {
  font-weight: 700;
  font-size: 85px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}
.banner-image {
  width: 50%;
  text-align: right;
}
.banner-image img {
  height: 500px;
}
.banner button {
  margin-right: 40px;
}
.banner button:last-child {
  background: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
/* main part styles */
section {
  margin-top: 100px;
}
/* About section styles */

.about-content {
  padding: 100px;
  background: #fff8f3;
}
.section-header {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #181818;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin: 30px 0;
}
.about-content .row {
  justify-content: space-evenly;
}
.about-info {
  width: 25%;
  text-align: center;
}
.about-info p {
  color: #757575;
  font-size: 20px;
}
.about-info h4 {
  color: #474747;
  font-weight: 700;
  margin-top: 10px;
}
/* what i d part styles */
.what-i-do p {
  padding: 0 150px;
  margin-bottom: 80px;
}
.skill-list {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  width: calc(25% - 24px);
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #181818;
  margin-top: 20px;
}
.skill-description {
  padding: unset !important;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: unset !important;
}
.what-i-do .row {
  gap: 24px;
}
/* resume section styles */
.resume {
  width: calc(50% - 24px);
}
.resume-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
  margin-top: 80px;
}
.resume-list{
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
}
.resume-header{
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
}
.resume-title{
  font-weight: 600;
font-size: 20px;
line-height: 20px;
color: #757575;
margin: 15px 0;
}
.resume-description{
  color: #757575;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  padding-right: 20px;
}
.resumes .btn{
   margin: 30px auto;
}
.border-none{
  border: none;
}
/* contact section styles */
.contact-us{
  padding: 50px 0;
  background: #FFF8F3;
}
.conatct-header{
  font-weight: 700;
font-size: 35px;
line-height: 48px;
color: #181818;
}
.contact-description{
  font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #474747;
margin: 30px 0;
}
.contact {
  width: calc(50% - 100px);
}
.contact img{
  margin-right: 10px;
}
 input[type="text"] , input[type="email"] , textarea{
  width: 100%;
  background: #fff;
  border: unset;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 24px;
  padding: 18px 30px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
form{
  margin-top: 30px;
}
input{
  height: 64px;
  
}
